@font-face {
  font-family: 'TheanoDidot-Regular';
  src: url('TheanoDidot-Regular.ttf');
}

@font-face {
  font-family: 'Ostrich Sans Regular Black';
  src: url('ostrich-black.ttf');
}

@font-face {
  font-family: 'Ostrich Sans Light';
  src: url('ostrich-light.ttf');
}

@font-face {
  font-family: 'Ostrich Sans Rounded';
  src: url('ostrich-rounded.ttf');
}


@font-face {
  font-family: 'Ostrich Sans Regular';
  src: url('ostrich-regular.ttf');
}

#headertext {
  font-family: 'Ostrich Sans Rounded';
  font-weight: bold;
  color: gray;
  padding-bottom: 2em;
}

.divide {

  margin-top: 3em;
  margin-bottom: 4em;
  background-color: #bdc3c7;
  border-width: 0px;

}

body {
  background-color: #ecf0f1; 
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

h1 {
  font-family: 'Ostrich Sans Regular Black';
  font-size: 4em;
  color: #2c3e50;
  text-align: justify;
  white-space: nowrap; 
  margin-bottom: 0.7em;
}

p {
  font-family: 'Ostrich Sans Rounded';
  color: black;
  font-size: 2em;
  text-align: justify;
  white-space: nowrap;
  text-justify; inter-word;
}