<p id="headertext">PLEASE ENTER YOUR EMAIL ADDRESS BELOW</p>

<form action="/forgot_password" method="post">

<input type="text" name="email" placeholder="EMAIL ADDRESS">
<br><input type="submit" value="SUBMIT" id="submit">

</form>