<html>
<head>
<title>Eat Peep Chit Repeat : Welcome to Chitter</title>
<link type="text/css" rel="stylesheet" href="css/reset.css">
<link type="text/css" rel="stylesheet" href="css/document.css">
<script src="./jquery-2.1.1.min.js"></script>
</head>
<body>
<h1><a href="/">Eat Peep Chit Repeat</a></h1>
<%= yield %>

</body>
</html>