<html>
<head>
<title>Eat Peep Chit Repeat : Welcome to Chitter</title>
<link type="text/css" rel="stylesheet" href="css/reset.css">
<link type="text/css" rel="stylesheet" href="css/document.css">
</head>
<body>
<h1>Eat Peep Chit Repeat</h1>
<%= yield %>

</body>
</html>