<p id="headertext">POST</p>

<% if flash[:error] %>
<p id="headertext"><%= flash[:error] %></p>
<% end %>

<form action="/peep" method="post">

<textarea name="message" rows="7" cols="30" maxlength="140" required="required" placeholder="PLEASE ENTER YOUR MESSAGE HERE.  THE MAXIMUM IS 140 CHARACTERS CURRENTLY, SO NO JANE AUSTINS PLEASE.">
</textarea>

<br><input type="submit" value="POST" id="submit">

</form>