<p id="headertext">PLEASE ENTER A NEW PASSWORD BELOW</p>

<form action="/reset_password" method="post">

<input type="password" name="password" placeholder="NEW PASSWORD">
<input type="hidden" name="password_token" value=<%= @token %>>
<br><input type="submit" value="RESET MY PASSWORD" id="submit">

</form>