<p id="headertext">REGISTRATION</p>

<% if flash[:error] %>
<p id="headertext"><%= flash[:error] %></p>
<% end %>

<form action="/user_reg" method="post">

<input type="text" required="required" name="name" placeholder="NAME">
<br><input type="text" required="required" name="email" placeholder="EMAIL">
<br><input type="text" required="required" name="username" placeholder="USERNAME">
<br><input type="password" required="required" name="password" placeholder="PASSWORD">
<br><input type="submit" value="SIGN-UP" id="submit">

</form>