<p id="headertext">REGISTRATION</p>

<form action="/user_reg" method="post">

<input type="text" name="name" placeholder="NAME">
<br><input type="text" name="email" placeholder="EMAIL">
<br><input type="text" name="username" placeholder="USERNAME">
<br><input type="password" name="password" placeholder="PASSWORD">
<br><input type="submit" value="SIGN-UP" id="submit">

</form>